<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= diary.title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- 네비게이션 바 추가 -->
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1><%= diary.title %></h1>
        <p><%= diary.content %></p>
    </div>
    <!-- <%- include('partials/footer.ejs') %> -->
</body>
</html>
